* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Avenir;
}


/*Navigation Bar*/

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    z-index: 0;
    top: 0;
}

.navbar ul {
    display: flex;
    list-style: none;
    margin: 20px 0px;
    background-color: rgb(223, 155, 21);
    position: sticky;
}

.navbar ul li {
    font-family: Avenir;
    font-size: 1.3rem;
    font-weight: bold;
}

.navbar ul li a {
    text-decoration: none;
    color: rgb(26, 46, 157);
    padding: 8px 25px;
    transition: all.5s ease;
}

.navbar ul li a:hover {
    background-color: rgb(249, 227, 227);
    color: purple;
    box-shadow: 0 0 10 white;
}

body {
    font-family: Avenir;
    background-color: rgb(255, 183, 0);
}

ul {
    font-weight: normal;
    font-style: normal;
    font-size: 15px;
}


/*Other Components*/

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

html {
    font-family: "Avenir";
    font-size: 12px;
}

section {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px 0;
    background-image: url("burger\ 2.jpeg");
}

.container {
    width: 100%;
    height: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.brand {
    text-align: center;
    font-size: 4rem;
    color: whitesmoke;
    margin-bottom: 30px;
}

form {
    width: 90%;
    max-width: 400px;
    margin: 20px auto;
}

input {
    width: 90%;
    padding: 10px;
    border-radius: 4px;
    border: none;
    outline: none;
    font-size: 1rem;
    align-content: center;
    background-color: white;
    display: inline-block;
}

form ion-icon {
    width: 100%;
    font-size: 3rem;
    margin-bottom: -8px;
    color: rgb(75, 75, 75);
    display: inline-block;
}

.search-result {
    margin-top: 50px;
    width: 100%;
    display: grid;
    grid-gap: 25px;
    grid-template: auto / repeat(auto-fit, minmax(300px, 1fr));
}

.item {
    width: 100%;
    border-radius: 8px;
    background-color: orange;
    padding: 15px;
    overflow: hidden;
}

.item img {
    width: 100%;
    height: 300px;
    border-radius: 4px;
}

.flex-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.2rem;
}

.search-result .title {
    color: whitesmoke;
    margin: 20px 10px 0 0;
    font-size: 1.8rem;
    font-weight: 400;
}

p {
    font-size: 2rem;
    font-weight: bold;
    color: orange;
    align-self: center;
    display: flex;
}

h1.title {
    font-size: 3rem;
    font-weight: bold;
}

.view-btn {
    text-decoration: none;
    text-align: center;
    width: 130px;
    padding: 10px 0;
    background-color: #404041;
    color: whitesmoke;
    font-size: 1.4rem;
    font-weight: 600;
    margin-top: 20px;
    border-radius: 4px;
    align-self: flex-start;
}

.item-data {
    color: whitesmoke;
    display: block;
    margin-top: 10px;
    font-size: 1.5rem;
    letter-spacing: 0.05rem;
    line-height: 1.5rem;
}

.container.initial .brand {
    font-size: 7rem;
}

.container.initial form {
    max-width: 800px;
}

.container.initial form input {
    padding: 20px;
    font-size: 3rem;
}

@media (max-width: 768px) {
    .search-result {
        grid-gap: 10px;
    }
    .container.initial .brand {
        font-size: 4rem;
    }
    .container.initial form {
        max-width: 500px;
    }
    .container.initial form input {
        padding: 10px;
        font-size: 2rem;
    }
}


/* Contact me*/

#ContactUs {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background-color: #FFA61F;
}

h1.headings {
    font-size: 5rem;
    background-color: #FFA61F;
}

h3 {
    font-size: 2rem;
    background-color: #FFA61F
}

.form {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    margin: 20px 0px;
}

.input {
    padding: 10px;
    margin: 20px;
    width: 100%;
    border: none;
    outline: none;
    display: flex;
    border: 0.5px solid #000000;
    align-content: center;
    background-color: white
}

#button {
    width: 60px;
    border: 0;
    border-radius: 50%;
    height: 60px;
    cursor: pointer;
    border: 3px solid #FFA61F;
}

#button:hover {
    cursor: pointer;
    box-shadow: 0 0 10px white;
    border: 3px solid #FFA61F;
}


/*making the like button*/

button {
    cursor: pointer;
    outline: 0;
    color: #AAA;
    height: 50px;
    width: 50px;
}

.btn:focus {
    outline: none;
}

.green {
    background-color: green;
}

.red {
    background-color: red;
}