    html {
        scroll-behavior: smooth;
    }
    
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    .navbar {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: black;
        position: sticky;
        top: 0;
    }
    
    .navbar ul {
        display: flex;
        list-style: none;
        margin: 20px 0px;
        background-color: rgb(223, 155, 21);
        position: sticky;
    }
    
    .navbar ul li {
        font-family: Avenir;
        font-size: 1.3rem;
        font-weight: bold;
    }
    
    .navbar ul li a {
        text-decoration: none;
        color: rgb(26, 46, 157);
        padding: 8px 25px;
        transition: all.5s ease;
    }
    
    .navbar ul li a:hover {
        background-color: rgb(249, 227, 227);
        color: purple;
        box-shadow: 0 0 10 white;
    }
    
    body {
        font-family: Avenir;
        background-color: rgb(255, 183, 0);
    }
    
    ul {
        font-weight: normal;
        font-style: normal;
        font-size: 15px;
    }
    /* Home Section*/
    
    #About {
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        padding: 20px;
        margin-bottom: 50px;
    }
    
    #pic img {
        width: 575px;
        height: 400px;
    }
    
    #pic {
        display: flex;
    }
    
    #intro {
        display: flex;
        flex-direction: column;
        text-align: justify;
        padding: 10px;
    }
    
    #intro h2 {
        font-size: 2rem;
        margin-bottom: 20px;
    }
    /* burger details */
    
    #services {
        display: flex;
        flex-direction: column;
        padding: 20px;
    }
    
    .row {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        box-sizing: border-box;
    }
    /* Home */
    
    #home ::before {
        position: absolute;
        top: 0;
        right: 0;
        background-color: palevioletred;
        width: 100%;
        z-index: -1;
        opacity: .8;
    }
    
    #home p {
        font-size: larger;
        justify-content: center;
        align-items: center;
    }
    
    .search-bar {
        width: 100%;
        max-width: 700px;
        background-color: aliceblue;
        display: flex;
        align-items: center;
        border-radius: 60px;
        padding: 10px 20px;
        backdrop-filter: blur(4px) saturate(80%);
    }
    
    .search-bar img {
        width: 25px;
    }
    
    .search-bar input {
        background: transparent;
        flex: 1;
        border: 0;
        outline: none;
        padding: 24px 20px;
        color: palegoldenrod;
    }
    
     ::placeholder {
        color: black;
    }
    
    .search-bar button {
        width: 60px;
        border: 0;
        border-radius: 50%;
        height: 60px;
        cursor: pointer;
    }
    
    .main {
        display: flex;
        flex-direction: column;
        /*border: 1px solid white; */
        align-items: center;
        position: sticky;
        top: 30%;
        right: 10%;
    }
    
    div.main {
        position: sticky;
    }
    
    h1 .headings {
        font-family: Georgia, Times, 'Times New Roman', serif;
        font-size: 3rem;
        text-align: center;
        margin: 40px 0px;
    }
    
    .headings {
        font-family: Avenir, Georgia, Times, 'Times New Roman', serif;
        font-size: 3rem;
        text-align: center;
        margin: 40px 0px;
    }
    
    .btn {
        padding: 10px 35px;
        background-color: transparent;
        border: 1px solid white;
        color: white;
        outline: none;
        transition: .6s ease;
    }
    
    .btn:hover {
        cursor: pointer;
        background-color: white;
        color: black;
        box-shadow: 0 0 5px white, 0 0 10px white, 0 015px white;
        font-weight: bold;
    }
    
    #home {
        display: flex;
        flex-direction: column;
        background-image: url('burger\ 2.jpeg');
        height: 1000px;
        justify-content: center;
        align-items: center;
        color: white;
    }
    /* Contact me*/
    
    #Contact {
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        background-image: url('burgerfest2017.webp');
        color: rgb(200, 191, 191);
        padding: 20px;
        align-items: center;
    }
    
    .form {
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        align-items: center;
        margin: 20px 0px;
    }
    
    .input {
        padding: 12px;
        margin: 15px;
        width: 30%;
        border: none;
        outline: none;
        border: 2px solid #000000;
    }
    
    #msg {
        width: 20%;
        padding: 10px;
        margin: 15px;
        border: none;
        outline: none;
        border: 2px solid #000000;
    }
    
    #send {
        width: 60px;
        border: 0;
        border-radius: 50%;
        height: 60px;
        cursor: pointer;
    }
    
    #send:hover {
        cursor: pointer;
        box-shadow: 0 0 10px white;
    }